# Copy this to .env and fill in your values
REACT_APP_BACKEND_URL=https://your-backend.onrender.com

REACT_APP_SUPABASE_URL=your_project_url_here
REACT_APP_SUPABASE_ANON_KEY=your_anon_public_key_here
RAZORPAY_KEY_SECRET=your_key
RAZORPAY_KEY_ID=your_id
